<div class="filters">
    <mat-form-field appearance="fill">
        <mat-label>Tipo de Espacio</mat-label>
        <input matInput [formControl]="typeControl" placeholder="Ej. saloon, office, etc.">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Capacidad</mat-label>
        <input matInput type="number" [formControl]="capacityControl" placeholder="Capacidad mínima">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Fecha</mat-label>
        <input matInput [formControl]="dateControl" type="date">
    </mat-form-field>
</div>

<div *ngIf="loading" class="spinner-container">
    <mat-spinner></mat-spinner>
</div>

<div *ngIf="!loading && filteredSpaces.length > 0">
    <div *ngFor="let space of filteredSpaces" (click)="onSpaceSelect(space)" class="space-row">
        <img [src]="space.image_url" alt="{{space.name}}" class="space-image">
        <div class="space-name">
            <h4>{{ space.name }}</h4>
        </div>
        <div class="space-details">
            <p>Tipo: {{ space.type }}</p>
            <p>Capacidad: {{ space.capacity }}</p>
        </div>
    </div>
</div>

<div *ngIf="!loading && filteredSpaces.length === 0">
    <p>No se encontraron Espacios</p>
</div>